version: '3.8'

services:
  nextjs:
    container_name: nextjs-prod
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '127.0.0.1:3000:3000'  # Только localhost
    environment:
      - NODE_ENV=production
      # - HTTP_PROXY=http://86.107.45.211:3128
      # - HTTPS_PROXY=http://86.107.45.211:3128
    restart: always
    # networks:
    #   - shop-network

# networks:
#   shop-network:
#     driver: bridge