.chart {
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 10px;
    color: gray;
    background: #fff;
    border-radius: 10px;

    .title {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
    }
}

.responsive-container {
    width: 100% !important;
    height: 300px !important;
    min-height: 300px !important;
}

.responsive-container .recharts-responsive-container {
    width: 100% !important;
    height: 100% !important;
    min-height: 300px !important;
}